* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}

body {
  overflow-x: hidden;
}

:root {
  --background-one: #191e24;
  --background-two: #10171e;
  --font-one-color: #000000;
  --font-family: "Roboto";
  --white-color: #ffffff;
  --button-color: #ed1d27;
  --border-color: #ec1c25;
}

.top-header {
  background-color: var(--background-one);
}
.top-header p {
  font-size: 16px;
  line-height: 27px;
  font-weight: 400;
  font-style: normal;
  color: var(--font-one-color);
}

.sec-one {
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.sec-one .clip-path {
  -webkit-clip-path: polygon(0 0, 29% 0, 91% 100%, 0% 100%);
          clip-path: polygon(0 0, 29% 0, 91% 100%, 0% 100%);
  background-color: var(--background-two);
}
.sec-one .contents {
  margin-left: -1rem;
}
.sec-one .contents h1 {
  margin-top: 18rem;
  font-family: var(--font-family), sans-serif;
  font-size: 55px;
  line-height: 60px;
  font-weight: 700;
  color: var(--white-color);
}
.sec-one .contents p {
  margin: 2rem 0rem;
  font-size: 16px;
  line-height: 27px;
  font-weight: 400;
  color: var(--white-color);
}
.sec-one .contents button {
  margin: 1rem 0rem;
  background-color: var(--button-color);
  padding: 1rem 2rem;
  font-weight: 600;
  font-style: normal;
  font-size: 17px;
  color: white;
  border-radius: 12px;
  transition: all 0.1s linear;
  margin-bottom: 5rem;
}
.sec-one .contents button:hover {
  background-color: rgba(237, 29, 39, 0.7);
}

.sec-two {
  margin-top: 15rem;
}
.sec-two .contents {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.sec-two .contents h3 {
  border: 2px solid var(--border-color);
  padding: 1rem 1rem;
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  font-style: normal;
  text-align: center;
  font-family: var(--font-family), sans-serif;
}
.sec-two .contents h3:first-child {
  margin-left: -0.5rem;
}
.sec-two .contents h3:last-child {
  margin-right: -0.5rem;
}

.sec-three {
  margin: 5rem 0rem;
  background-color: var(--button-color);
  height: 35rem;
}
.sec-three .clip-path {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 25% 100%, 0 48%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 25% 100%, 0 48%);
  background-color: var(--background-two);
}
.sec-three .clip-path .contents {
  margin: 6rem 14rem;
}
.sec-three .clip-path .contents h3 {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  color: var(--white-color);
}
.sec-three .clip-path .contents ol {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: var(--white-color);
}
.sec-three .clip-path .contents ol li {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: var(--white-color);
}
.sec-three .clip-path .contents button {
  background-color: var(--button-color);
  padding: 1rem 2rem;
  font-weight: 600;
  font-style: normal;
  font-size: 17px;
  color: white;
  border-radius: 12px;
  transition: all 0.1s linear;
  margin-bottom: 5rem;
}
.sec-three .clip-path .contents button:hover {
  background-color: rgba(237, 29, 39, 0.7);
}

.sec-four {
  margin: 17rem 0rem;
}
.sec-four .client {
  width: 60vw;
  height: 100vh;
  position: relative;
}
.sec-four .client img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border: 5px solid var(--background-two);
  border-radius: 12px;
}
.sec-four .client .info {
  position: absolute;
  bottom: -15rem;
  right: -20rem;
  width: 40rem;
  height: 30rem;
  background-color: var(--background-two);
  padding: 5rem 5rem;
  border-top-left-radius: 12px;
}
.sec-four .client .info h3 {
  font-family: var(--font-family);
  color: white;
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  font-style: normal;
}
.sec-four .client .info p {
  margin-top: 3rem;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 26px;
  color: white;
}

.sec-five {
  margin: 35rem 0rem;
}
.sec-five .carry {
  width: 60vw;
  height: 100vh;
  position: relative;
}
.sec-five .carry img {
  width: 100%;
  height: 100%;
  border: 5px groove var(--background-two);
  -o-object-fit: contain;
     object-fit: contain;
  margin-left: 21rem;
  border-radius: 12px;
}
.sec-five .carry .info {
  position: absolute;
  top: 35rem;
  right: 10rem;
  width: 40rem;
  height: 20rem;
  background-color: var(--background-two);
  padding: 2rem 2rem;
  border-top-right-radius: 12px;
}
.sec-five .carry .info h3 {
  font-family: var(--font-family);
  color: white;
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  font-style: normal;
}
.sec-five .carry .info ol {
  margin-top: 3rem;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 26px;
  color: white;
}
.sec-five .carry .info ol li {
  list-style: inside;
}

.sec-six {
  margin-top: -15rem;
}
.sec-six h2 {
  text-align: center;
  margin: 0 auto;
  font-style: normal;
  font-size: 36px;
  line-height: 43px;
  color: var(--background-two);
  font-weight: 600;
  font-family: var(--font-family);
  margin: 5rem 0rem;
}
.sec-six .contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.sec-six .contents .item {
  justify-content: center;
  align-items: center;
}
.sec-six .contents .item h5 {
  text-align: center;
  margin: 0 auto;
  font-size: 20px;
  line-height: 22px;
  color: var(--background-two);
  font-style: normal;
  margin: 3rem 0rem;
}
.sec-six .contents .item p {
  text-align: center;
  margin: 0 auto;
  font-size: 16px;
  line-height: 27px;
  font-weight: 400;
  font-style: normal;
  color: var(--background-two);
}
.sec-six .contents .item .logo {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  text-align: center;
}
.sec-six .contents .item .logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.sec-six .btn {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec-six .btn button {
  background-color: var(--button-color);
  padding: 1rem 2rem;
  font-weight: 600;
  font-style: normal;
  font-size: 17px;
  color: white;
  border-radius: 12px;
  transition: all 0.1s linear;
  margin-bottom: 5rem;
}
.sec-six .btn button:hover {
  background-color: rgba(237, 29, 39, 0.7);
}

.sec-seven {
  margin: 5rem 0rem;
  background-color: var(--button-color);
  height: 20rem;
}
.sec-seven .container {
  max-width: 100vw !important;
}
.sec-seven .container .clip-path {
  -webkit-clip-path: polygon(81% 0, 100% 30%, 100% 100%, 0 100%, 0 0);
          clip-path: polygon(81% 0, 100% 30%, 100% 100%, 0 100%, 0 0);
  background-color: var(--background-two);
  margin-top: -3rem;
}
.sec-seven .container .clip-path h2 {
  padding-top: 10rem;
  text-align: center;
  margin: 0 auto;
  font-style: normal;
  font-size: 36px;
  line-height: 43px;
  color: var(--white-color);
  font-weight: 600;
  font-family: var(--font-family);
  margin: 1rem 0rem;
}
.sec-seven .container .clip-path .contents .item {
  width: 350px;
  height: auto;
}
.sec-seven .container .clip-path .contents .item .img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 5rem 0rem;
}
.sec-seven .container .clip-path .contents .item .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.sec-seven .container .clip-path .contents .item p {
  margin: 4rem 0rem;
  color: white;
  font-size: 18px;
  line-height: 29px;
  font-style: normal;
  font-weight: 400;
  font-family: var(--font-family);
}

.sec-eight {
  margin-top: 45rem;
}
.sec-eight .contents h2 {
  font-family: var(--font-family);
  font-weight: 600;
  font-style: normal;
  font-size: 36px;
  line-height: 43px;
  color: var(--background-two);
}
.sec-eight .contents .item {
  margin-top: 5rem;
}
.sec-eight .contents .item .sec {
  margin-left: 10rem;
}
.sec-eight .contents .item .sec h4 {
  font-family: var(--font-family);
  font-size: 20px;
  line-height: 22px;
  font-style: normal;
  font-weight: 600;
  color: var(--background-two);
}
.sec-eight .contents .item .sec p {
  padding-top: 1rem;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: var(--background-two);
  opacity: 0.7;
}
.sec-eight .btn {
  margin-top: 3rem;
}
.sec-eight .btn button {
  background-color: var(--button-color);
  padding: 1rem 2rem;
  font-weight: 600;
  font-style: normal;
  font-size: 17px;
  color: white;
  border-radius: 12px;
  transition: all 0.1s linear;
  margin-bottom: 5rem;
}
.sec-eight .btn button:hover {
  background-color: rgba(237, 29, 39, 0.7);
}

.sec-nine {
  background-color: var(--background-two);
  padding: 5rem 0rem;
}
.sec-nine .form {
  background-color: rgb(235, 184, 184);
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}
.sec-nine .form h3 {
  font-family: var(--font-family);
  font-size: 30px;
  line-height: 36px;
  font-style: normal;
  font-weight: 600;
  color: var(--background-two);
}
.sec-nine .form p {
  font-family: var(--font-family);
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: var(--background-two);
  font-style: normal;
}
.sec-nine .form input {
  display: block;
  padding: 0.5rem 0.5rem;
  margin: 1rem 0rem;
  width: 350px;
}
.sec-nine .form input::-moz-placeholder {
  padding: 0.2rem 0.2rem;
}
.sec-nine .form input:-ms-input-placeholder {
  padding: 0.2rem 0.2rem;
}
.sec-nine .form input::placeholder {
  padding: 0.2rem 0.2rem;
}
.sec-nine .form button {
  margin-top: 3rem;
  padding: 1rem 1.5rem;
  background-color: var(--button-color);
  border-radius: 12px;
}/*# sourceMappingURL=style.css.map */