* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}

:root {
  --background-one: #191e24;
  --background-two: #10171e;
}

.top-header {
  background-color: var(--background-one);
  padding: 1.5rem;
}

.top-header h6 {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
  margin-left: 5rem;
}

.header {
  width: 100vw;
  height: 100vh;
  background-image: url(/Img/pexels-christina-morillo-1181467.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -10;
  position: relative;
  width: 100vw;
  height: 95vh;
}

.logo {
  margin-left: 5rem;
}

img {
  margin-top: 1rem;
}

.content {
  position: absolute;
  top: 4rem;
  left: 0;
  width: 100vw;
  height: 100vh;
  clip-path: polygon(0 0, 41% 0, 74% 100%, 0% 100%);
  background-color: var(--background-two);
}

.content h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  color: #ffffff;
  margin-top: 10rem;
  margin-left: 5rem;
}

.content p {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 27px;
  color: #ffffff;
  font-size: 400;
  margin-left: 5rem;
  margin-top: 2rem;
}
